
<script>
  $(window).ready(function() {
    var obj = {
      init: function() {
        this.assignVariables();
        this.createLineNode();
        this.initClone();
        this.initEvent();
      },
      assignVariables: function() {
        obj.moneyFormat = "$\{\{amount\}\}";
        obj.selectors = {
          $cartTable: $('form.cart'),
          $rowHeader: $('.cart__row--header'),
          $rowItem: $('.cart__row--item:first'),
          $rowLast: $('.cart__row--last'),
          $rowItemQty: $('.cart__product-qty'),
          $cartBubble: $('.cart-link__bubble'),
          $cartContent: $('.cart-content'),
          $itemOptionTemplate: '.cart__options',
          $itemDetails: '[data-cart-details]',
          $cartItemImage: '[data-line-image]',
          $itemSellingPlanNameTemplate: '[data-selling-plan-details]',
          $itemPropertyTemplate: '.cart__properties',
          $cartItemPropertyName: '[data-cart-item-property-name]',
          $cartItemPropertyValue: '[data-cart-item-property-value]',
          $quantityItem: '[data-quantity-item]',
          $cartItemLinePrice: '.cart__price',
          $itemPriceListTemplate: '[data-price-list]',
          $itemPriceListGroupTemplate: '[data-price-group]',
          $cartItemDiscountedPriceGroup: '[data-discounted-price-group]',
          $cartItemOriginalPrice: '[data-original-price]',
          $cartItemFinalPrice: '[data-final-price]',
          $cartItemRegularPriceGroup: '[data-regular-price-group]',
          $cartItemRegularPrice: '[data-regular-price]',
          $cartItemDelete: '[data-delete-line]',
          $cartNote: '[data-cart-note]',
          $cartDiscount: '[data-cart-discount]',
          $cartDiscountWrapper: '[data-cart-discount-wrapper]',
          $cartDiscountTitle: '[data-cart-discount-title]',
          $cartDiscountAmount: '[data-cart-discount-amount]',
          $cartSubtotal: '[data-cart-subtotal]'
        };
      },
      createLineNode: function() {
        var line = '<div class="cart__row cart__row--item">'+
            '<div class="grid--full cart__row--table-large">'+
              '<div class="grid__item large--three-fifths">'+
                '<div class="grid">'+
                  '<div class="grid__item one-third">'+
                    '<a href="" class="cart__image">'+
                      '<img src="" alt="{{ item.title | escape }}" data-line-image>'+
                    '</a>'+
                  '</div>'+
                  '<div class="grid__item two-thirds">'+
                    '<a href="{{ item.url }}" class="h4 cart__product-name">'+
                      '{{ item.product.title }}'+
                    '</a>'+
                    '{% unless item.variant.title contains "Default" %}'+
                      '<p class="cart__product-meta" data-variant-title>'+
                        '{{ item.variant.title }}'+
                      '</p>'+
                    '{% endunless %}'+
                    '{% if settings.product_vendor_enable %}'+
                      '<p class="cart__product-meta" data-vendor>{{ item.vendor }}</p>'+
                    '{% endif %}'+
                    '<div data-cart-details>'+
                      '<span class="selling-plan-details" data-item-key="{{item.key}}" data-selling-plan-details>'+
                      '</span>'+
                      '<div class="cart__options">'+
                      '</div>'+
                      '{% assign property_size = item.properties | size %}'+
                      '<div class="cart__properties">'+
                        '<div>'+
                          '<span data-cart-item-property-name></span>'+
                          '<span data-cart-item-property-value></span>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                    '<p class="cart__product-meta">'+
                      '<a data-delete-line href="#">'+
                        '{{ 'cart.general.remove' | t }}'+
                      '</a>'+
                    '</p>'+
                  '</div>'+
                '</div>'+
              '</div>'+
              '<div class="grid__item large--two-fifths cart__pricing">'+
                '<div class="grid--full cart__row--table{% if item.line_level_discount_allocations != blank %} cart__row--table-with-discount{% endif %}">'+
                  '<div class="grid__item one-third text-center">'+
                    '<label for="updates_{{ item.key }}" class="visually-hidden">{{ 'cart.label.quantity' | t }}</label>'+
                    '<input type="number" name="updates[]" id="updates_{{ item.key }}" class="cart__product-qty" value="{{ item.quantity }}" min="0" data-id="{{ item.key }}" data-line-index="{{ forloop.index }}" data-quantity-item>'+
                  '</div>'+
                  '<div class="grid__item two-thirds text-right" data-price-list>'+
                    '<div data-price-group>'+
                      '<div data-discounted-price-group>'+
                        '<span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>'+
                        '<del class="cart__price" data-original-price></del>'+
                        '<span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>'+
                        '<span class="order-discount cart__price" data-final-price></span>'+
                      '</div>'+
                      '<div data-regular-price-group>'+
                        '<span class="cart__price" data-regular-price></span>'+
                      '</div>'+
                    '</div>'+
                    '{%- if item.unit_price_measurement -%}'+
                      '<span class="visually-hidden">{{ 'products.general.unit_price' | t }}</span>'+
                      '<span class="cart__unit-price">'+
                        '{%- capture unit_price_separator -%}'+
                          '<span aria-hidden="true">/</span><span class="visually-hidden">&nbsp;{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>'+
                        '{%- endcapture -%}'+
                        '{%- capture unit_price_base_unit -%}'+
                          '{%- if item.unit_price_measurement.reference_value != 1 -%}'+
                            '{{- item.unit_price_measurement.reference_value -}}'+
                          '{%- endif -%}'+
                          '{{ item.unit_price_measurement.reference_unit }}'+
                        '{%- endcapture -%}'+
                        '<span data-unit-price>{{ item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}'+
                      '</span>'+
                    '{%- endif -%}'+
                    '{%- if item.line_level_discount_allocations != blank -%}'+
                      '<ul class="order-discount order-discount--list order-discount--title order-discount--cart-list" aria-label="{{ 'customer.order.discount' | t }}">'+
                        '{%- for discount_allocation in item.line_level_discount_allocations -%}'+
                          '<li class="order-discount__item">'+
                            '<span class="icon icon-saletag" aria-hidden="true"></span>{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})'+
                          '</li>'+
                        '{%- endfor -%}'+
                      '</ul>'+
                    '{%- endif -%}'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div>'+
          '</div>';
        obj.lineNode = $($.parseHTML( line ));
      },
      initClone: function() {
        obj.row_header = obj.selectors.$rowHeader.clone(true);
        obj.row_footer = obj.selectors.$rowLast.clone(true);
        obj.row_item = obj.selectors.$rowItem.clone(true);
        obj.itemOptionTemplate = obj.lineNode.find(obj.selectors.$itemOptionTemplate).clone(true);
        obj.itemSellingPlanNameTemplate = obj.lineNode.find(obj.selectors.$itemSellingPlanNameTemplate).clone(true);
        obj.itemPropertyTemplate = obj.lineNode.find(obj.selectors.$itemPropertyTemplate).clone(true);
        obj.itemPriceListTemplate = obj.lineNode.find(obj.selectors.$itemPriceListTemplate).clone(true);
      },
      initEvent: function() {
        obj.selectors.$cartTable.on('change', obj.selectors.$quantityItem, function() {
          var key = $(this).data('id');
          var index = Number($(this).data('line-index'));
          var value = $(this).val();

          var request = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json;'
            },
            body: JSON.stringify({
              line: index,
              quantity: value
            })
          };
          obj.changeCart(request, key);
        });

        obj.selectors.$cartTable.on('click', obj.selectors.$cartItemDelete, function(evt) {
          evt.preventDefault();
          var index = Number($(this).data('line-index'));

          var request = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json;'
            },
            body: JSON.stringify({
              line: index,
              quantity: 0
            })
          };
          obj.changeCart(request);
        });

        obj.selectors.$cartTable.on('change', obj.selectors.$cartNote, function() {
          var note = $(this).val();

          var request = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json;'
            },
            body: JSON.stringify({
              note: note
            })
          };
          fetch('/cart/update.js', request).catch(
            function() {
              // this._showCartError(evt.target);
            }
          );
        });
      },
      changeCart: function(request, key=null) {
        fetch('/cart/change.js', request)
          .then(function(response) {
            return response.json();
          })
          .then(
            function(state) {
              console.log(state)
              obj.selectors.$cartBubble.addClass('cart-link__bubble--visible');

              if (!state.item_count) {
                obj.selectors.$cartBubble.removeClass('cart-link__bubble--visible');
                obj.emptyCart();
                return;
              }

              obj.createCart(state);

              if (key != null) {
                var line_item_input = $("input[data-id='" + key + "']");

                // var item = this.getItem(key, state);

                // this._updateLiveRegion(item);

                if (!line_item_input) return;
                line_item_input.focus();
              }
            }
          )
          .catch(
            // function() {
            //   this._showCartError(null);
            // }
          );
      },
      emptyCart: function() {
        var empty_cart = '<header class="section-header text-center">'+
              '<h1 class="text-center">{{ 'cart.general.title' | t }}</h1>'+
              '<hr class="hr--small">'+
              '<p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>'+
              '<p class="cart--continue-browsing">{{ 'cart.general.continue_browsing_html' | t: link: routes.all_products_collection_url }}</p>'+
              '<p class="cookie-message">{{ 'cart.general.cookies_required' | t }}</p>'+
            '</header>';
        obj.selectors.$cartContent.html(empty_cart);
      },
      getItem: function(key, state) {
        return state.items.find(function(item) {
          return item.key === key;
        });
      },
      createCart: function(state) {
        var cartDiscountList = obj.createCartDiscountList(state);
        var cartHeader = obj.row_header.clone(true);
        var cartFooter = obj.row_footer.clone(true);

        var cartTable = obj.selectors.$cartTable;
        cartTable.html('');
        cartTable.append(cartHeader);

        obj.createLineItemList(state).forEach(function(lineItem) {
          cartTable.append(lineItem);
        });

        var cartNotes = cartFooter.find(obj.selectors.$cartNote);
        if (cartNotes) {
          cartNotes.val(state.note);
        }

        var discountWrapper = cartFooter.find(
          obj.selectors.$cartDiscountWrapper
        );

        if (cartDiscountList.length === 0) {
          discountWrapper.html('');
          discountWrapper.hide();
        } else {
          discountWrapper.html('');

          cartDiscountList.forEach(function(discountItem) {
            discountWrapper.append(discountItem);
          });

          discountWrapper.show();
        }

        cartFooter.find(
          obj.selectors.$cartSubtotal
        ).text(Shopify.formatMoney(
          state.total_price,
          theme.moneyFormatWithCurrency
        ));

        cartTable.append(cartFooter);

      },
      createLineItemList: function(state) {
        return state.items.map(
          function(item, index) {
            // var itemNode = this.itemTemplate.cloneNode(true);
            var row_item = obj.lineNode.clone(true);

            let $title = row_item.find('.cart__product-name');
            let $image = row_item.find('.cart__image img');
            let $properties = row_item.find('.cart__properties');
            let $remove_btn = row_item.find(obj.selectors.$cartItemDelete);

            // this._setLineItemAttributes(itemNode, item, index);
            obj.setLineItemImage(row_item, item.featured_image);
            row_item.find(obj.selectors.$cartItemImage).parent().attr('href', item.url);

            $title.text(item.product_title);
            $title.attr('href', item.url);
            $remove_btn.attr('data-line-index', index+1);
            $remove_btn.attr('href', '/cart/change?line='+(index+1)+'&quantity=0');

            var selling_plan_name = item.selling_plan_allocation
              ? item.selling_plan_allocation.selling_plan.name
              : null;

            var productDetailsList = obj.createProductDetailsList(
              item.product_has_only_default_variant,
              item.options_with_values,
              item.properties,
              selling_plan_name,
              item.key
            );

            obj.setProductDetailsList(row_item, productDetailsList);

            // this._setItemRemove(itemNode, item.title);

            // var itemDiscountList = this._createItemDiscountList(item);
            // this._setItemDiscountList(itemNode, itemDiscountList);
            obj.setQuantityInputs(row_item, item, index);

            var itemLinePrice = obj.createItemPrice(
              item.original_line_price,
              item.final_line_price
            );

            obj.setItemLinePrice(row_item, itemLinePrice);

            return row_item;
          }
        );
      },
      createProductDetailsList: function(
        product_has_only_default_variant,
        options,
        properties,
        selling_plan_name,
        item_key
      ) {
        var optionsPropertiesHTML = [];

        if (!product_has_only_default_variant) {
          optionsPropertiesHTML = optionsPropertiesHTML.concat(
            obj.getOptionList(options)
          );
        }

        if (selling_plan_name) {
          optionsPropertiesHTML = optionsPropertiesHTML.concat(
            obj.getSellingPlanName(selling_plan_name, item_key)
          );
        }

        if (properties !== null && Object.keys(properties).length !== 0) {
          optionsPropertiesHTML = optionsPropertiesHTML.concat(
            obj.getPropertyList(properties)
          );
        }

        return optionsPropertiesHTML;
      },
      getOptionList: function(options) {
        return options.map(
          function(option) {
            var optionElement = obj.itemOptionTemplate.clone(true);

            optionElement.html(option.name + ': ' + option.value);
            // optionElement.classList.remove(classes.hide);

            return optionElement;
          }
        );
      },
      getSellingPlanName: function(selling_plan_name, item_key) {
        var sellingPlanNameElement = obj.itemSellingPlanNameTemplate.clone(true);

        sellingPlanNameElement.html(selling_plan_name);
        sellingPlanNameElement.attr('data-item-key', item_key);
        // sellingPlanNameElement.classList.remove(classes.hide);
        
        return $('<div></div>').append(sellingPlanNameElement);
      },
      getPropertyList: function(properties) {
        var propertiesArray =
          properties !== null ? Object.entries(properties) : [];

        var filteredPropertiesArray = propertiesArray.filter(function(property) {
          // Line item properties prefixed with an underscore are not to be displayed
          // if the property value has a length of 0 (empty), don't display it
          if (property[0].charAt(0) === '_' || property[1].length === 0) {
            return false;
          } else {
            return true;
          }
        });

        return filteredPropertiesArray.map(
          function(property) {
            var propertyElement = obj.itemPropertyTemplate.clone(true);

            propertyElement.find(
              obj.selectors.$cartItemPropertyName
            ).text(property[0] + ': ');

            if (property[0].indexOf('/uploads/') === -1) {
              propertyElement.find(
                obj.selectors.$cartItemPropertyValue
              ).text(property[1]);
            } else {
              propertyElement.find(
                obj.selectors.$cartItemPropertyValue
              ).html(
                '<a href="' +
                property[1] +
                '"> ' +
                property[1].split('/').pop() +
                '</a>');
            }

            // propertyElement.classList.remove(classes.hide);

            return propertyElement;
          }
        );
      },
      setProductDetailsList: function(item, productDetailsList) {
        var itemDetails = item.find(obj.selectors.$itemDetails);

        if (productDetailsList.length) {
          // itemDetails.classList.remove(classes.hide);
          itemDetails.html(productDetailsList.reduce(function(result, element) {
            return result + element.html();
          }, '')
          );

          return;
        }

        // itemDetails.classList.add(classes.hide);
        // itemDetails.textContent = '';
      },
      setLineItemImage: function(row_item, featuredImage) {
        var image = row_item.find(obj.selectors.$cartItemImage);

        var sizedImageUrl =
          featuredImage.url !== null
            ? obj.getSizedImageUrl(featuredImage.url, 'medium')
            : null;

        if (sizedImageUrl) {
          image.attr('alt', featuredImage.alt);
          image.attr('src', sizedImageUrl);
          // image.classList.remove(classes.hide);
        } else {
          image.parent().removeChild(image);
        }
      },
      setQuantityInputs: function(itemNode, item, index) {
        var lineInput = itemNode.find(obj.selectors.$quantityItem);

        lineInput.attr('id', 'updates_' + item.key);
        lineInput.attr('data-line-index', index + 1);
        lineInput.attr('data-id', item.key);
        lineInput.val(item.quantity);

      },
      setItemLinePrice: function(item, price) {
        item.find(obj.selectors.$itemPriceListGroupTemplate).html(price.html());
      },
      createItemPrice: function(original_price, final_price) {
        var originalPriceHTML = Shopify.formatMoney(
          original_price,
          obj.moneyFormat
        );

        var resultHTML;

        if (original_price !== final_price) {
          resultHTML = obj.itemPriceListTemplate
            .find(obj.selectors.$cartItemDiscountedPriceGroup)
            .clone(true);

          resultHTML.find(
            obj.selectors.$cartItemOriginalPrice
          ).html(originalPriceHTML);

          resultHTML.querySelector(
            obj.selectors.$cartItemFinalPrice
          ).html(Shopify.formatMoney(
            final_price,
            obj.moneyFormat
          ));
        } else {
          resultHTML = obj.itemPriceListTemplate
            .find(obj.selectors.$cartItemRegularPriceGroup)
            .clone(true);

          resultHTML.find(
            obj.selectors.$cartItemRegularPrice
          ).html(originalPriceHTML);
        }
        // resultHTML.classList.remove(classes.hide);

        return resultHTML;
      },
      createCartDiscountList: function(cart) {
        return cart.cart_level_discount_applications.map(
          function(discount) {
            var discountNode = obj.selectors.$cartDiscount.cloneNode(true);

            discountNode.find(obj.selectors.$cartDiscountTitle).text(discount.title);

            discountNode.find(
              obj.selectors.$cartDiscountAmount
            ).text(Shopify.formatMoney(
              discount.total_allocated_amount,
              obj.moneyFormat
            ));

            return discountNode;
          }
        );
      },
      getSizedImageUrl: function(src, size) {
        if (size === null) {
          return src;
        }

        if (size === 'master') {
          return obj.removeProtocol(src);
        }

        var match = src.match(
          /\.(jpg|jpeg|gif|png|bmp|bitmap|tiff|tif)(\?v=\d+)?$/i
        );

        if (match !== null) {
          var prefix = src.split(match[0]);
          var suffix = match[0];

          return obj.removeProtocol(prefix[0] + '_' + size + suffix);
        }

        return null;
      },
      removeProtocol: function(path) {
        return path.replace(/http(s)?:/, '');
      }
    };
    obj.init();
  });
</script>