{% if link_list.handle == "main-menu" or link_list.handle == "main-menu-2" %}
<div class="about-us-nav text-center">
  {% if childlink.title == "Our Story" %}
<!--   //cdn.shopify.com/s/files/1/0281/0960/2886/files/srh-dark-logo_50x.png?v=1594235005 -->
  <div><img src="//cdn.shopify.com/s/files/1/0281/0960/2886/files/honey-dark_50x.png?v=1594336202" alt="Sun River Honey Our Story icon"/></div>
  {% elsif childlink.title == "Our Facility" %}
  <div><img src="//cdn.shopify.com/s/files/1/0281/0960/2886/files/honey-dark_50x.png?v=1594336202" alt="Sun River Honey Our Facility icon"/></div>
  {% elsif childlink.title == "Pollinator Pastures" %}
  <div><img src="//cdn.shopify.com/s/files/1/0281/0960/2886/files/flower-pastures_50x.png?v=1595475885" alt="Sun River Honey Pollinator Pastures icon"/></div>
  {% endif %}
  {{ childlink.title | escape }}
</div>
{% else %}
	{{ childlink.title | escape }}
{% endif %}