<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 412.7 412.7" style="enable-background:new 0 0 412.7 412.7;" xml:space="preserve">
<style type="text/css">
	.st0{display:none;}
	.st1{display:inline;}
	.st2{fill:#494949;}
	.st3{display:none;fill:none;}
	.st4{fill:none;stroke:#494949;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st5{fill:none;stroke:#494949;stroke-width:9;stroke-miterlimit:10;stroke-dasharray:30,10;}
</style>
<g class="st0">
	<g class="st1">
		<path d="M404.7,82.9L404.7,82.9L404.7,82.9h-27.2c0,0,0,0,0,0v-9.3c0.1-3.7-2.2-7-5.8-8c-18.8-4.9-38.2-7.4-57.7-7.4
			c-32,0-75.6,7.2-107.8,40c0,0,0,0,0,0c-32-33.1-75.9-40-107.8-40c-19.5,0-38.9,2.4-57.7,7.4c-3.5,1-5.9,4.3-5.8,8v9.2c0,0,0,0,0,0
			H8c-4.4,0-8,3.6-8,8v255.5c0,4.4,3.6,8,8,8c1.4,0,2.7-0.4,3.9-1c0.8-0.4,80.8-44.2,192.5-16c0,0,0,0,0,0h1.2h0.7
			c0.6,0.1,1.3,0.1,1.9,0c112-28.4,192,15.3,192.5,16c2.5,1.4,5.5,1.4,8,0c2.5-1.4,4-4,4-6.9V90.9C412.7,86.5,409.1,82.9,404.7,82.9
			z M16,333.7V98.9c0,0,0,0,0,0h19.1c0,0,0,0,0,0v200.6c0,4.4,3.5,8,7.9,8.1c0.4,0,0.9,0,1.3-0.1c16.5-2.5,33.3-3.9,50-4
			c23.2-0.4,46.3,3.1,68.3,10.3c0,0,0,0,0,0C112.9,307.9,62.4,314.7,16,333.7C16,333.7,16,333.7,16,333.7z M94.3,287.7
			c-14.6,0-29.1,1-43.5,2.8c0,0,0,0,0,0V80c0,0,0,0,0,0c15.6-3.5,31.5-5.2,47.4-5.3c29.9,0,71.2,6.9,99.8,39.2l0.2,199.3
			c0,0,0,0,0,0C181.7,302.3,149.2,287.7,94.3,287.7z M214.3,113.9c28.6-32,69.9-39.2,99.8-39.2c16,0,31.9,1.8,47.4,5.3c0,0,0,0,0,0
			v210.5c0,0,0,0,0,0c-14.4-1.8-28.8-2.8-43.3-2.9c-54.6,0-87.1,14.6-104,25.5c0,0,0,0,0,0L214.3,113.9z M396.6,333.7
			c-46.5-19-97.1-25.8-147-19.8c0,0,0,0,0,0c22.1-7.3,45.3-10.7,68.6-10.3c16.8,0.1,33.7,1.4,50.3,3.9c4.4,0.7,8.4-2.3,9.1-6.7
			c0.1-0.4,0.1-0.9,0.1-1.3V98.9c0,0,0,0,0,0H397c0,0,0,0,0,0L396.6,333.7C396.6,333.7,396.6,333.7,396.6,333.7z"/>
	</g>
</g>
<g>
	<path class="st2" d="M338.2,185.6c3.6-6.8,3.5-14.9-0.3-21.6l-12.6-22.3c3.1-1,5.9-2.9,8.2-5.5c4.2-5,5.3-11.6,3.4-17.4
		c2.5-2.5,5.8-4,9.3-4.3l1.4-0.1c1.7-0.1,3-1.7,2.9-3.4c-0.1-1.7-1.7-3-3.4-2.9l-1.4,0.1c-4.4,0.4-8.5,2.1-11.9,4.9
		c-0.7-0.9-1.6-1.8-2.5-2.6c-0.9-0.8-2-1.5-3-2.1c2.5-4.4,3.3-9.6,2.2-14.7c-0.4-1.7-2-2.8-3.7-2.5s-2.8,2-2.5,3.7
		c0.8,4,0,8-2.2,11.4c-6-0.9-12.4,1.3-16.6,6.3c-2.2,2.7-3.6,5.8-4.1,9l-24.1-8.6c-7.3-2.6-15.2-1.4-21.3,3.3
		c-6.1,4.7-9.4,12.1-8.7,19.8c0.5,6,3.4,11.5,7.9,15.3c1.2,1,2.6,2,4,2.7c5.6,2.9,12,3.4,17.8,1.4c-2.2,7.9-2.5,14.6-2.6,17.4
		l-5.1,6.1c-1.1,1.3-1,3.3,0.4,4.5c1.3,1.1,3.3,1,4.5-0.4l5.1-6.1c2.7-0.5,9.3-2,16.7-5.5c-1,6.1,0.6,12.3,4.4,17.3
		c1,1.3,2.1,2.5,3.4,3.5c4.5,3.8,10.4,5.7,16.4,5.2C327.8,196.8,334.6,192.4,338.2,185.6L338.2,185.6z M277.7,148.2
		c-4.8,2.7-10.6,2.8-15.5,0.2c-4.9-2.6-8.1-7.4-8.6-12.9c-0.5-5.5,1.9-10.8,6.3-14.2c4.4-3.4,10.1-4.3,15.3-2.4l21.4,7.7
		c-3.2,2.3-6.3,5-9.1,8.3c-3.2,3.8-5.6,7.9-7.4,12L277.7,148.2z M280.9,170.1c0.3-3.5,1-9.1,2.9-15.1l11.5,9.7
		C289.7,167.6,284.4,169.2,280.9,170.1L280.9,170.1z M301.1,161.2l-14.9-12.5c1.1-2.4,2.5-4.9,4.1-7.2l17.1,14.4
		C305.5,158,303.3,159.7,301.1,161.2z M294.5,136.7c2.4-2.4,5.1-4.5,7.8-6.2c1,3,2.9,5.7,5.4,7.9c2.6,2.2,5.6,3.5,8.7,4
		c-1.3,3-2.8,5.9-4.8,8.7L294.5,136.7z M311.8,133.5c-5-4.2-5.7-11.8-1.4-16.8c4.2-5,11.8-5.7,16.8-1.4c5,4.2,5.7,11.8,1.4,16.8
		C324.4,137.1,316.8,137.7,311.8,133.5L311.8,133.5z M319.6,191.2c-5.5,0.5-10.8-1.9-14.2-6.3c-3.4-4.4-4.3-10.1-2.4-15.3l0.9-2.6
		c3.7-2.5,7.4-5.6,10.6-9.3c2.8-3.3,4.9-6.8,6.7-10.4l11.2,19.8c2.7,4.8,2.8,10.6,0.2,15.5C330,187.5,325.1,190.7,319.6,191.2
		L319.6,191.2z"/>
</g>
<circle class="st3" cx="319.5" cy="124.4" r="15.7"/>
<circle class="st3" cx="269.6" cy="134" r="19.2"/>
<path class="st4" d="M206.4,109.4c41-40.6,97.4-53.7,164.4-35.6v225.6c-64-11.6-119.7-1.3-164.4,26.1
	c-45.2-27.2-98.8-38.7-161.5-25.2L42.6,74.7C105.6,58,160.2,66.5,206.4,109.4z"/>
<line class="st4" x1="206.4" y1="109.4" x2="206.4" y2="325.6"/>
<path class="st4" d="M374.5,91.1h30.3l0.5,255c-54.2-26.1-124.1-34.3-198.9-18.3c-77.6-16.1-142.9-9.2-197.4,18.3v-255h29.9"/>
<path class="st5" d="M137.5,145.2c-6.8,3.6-33.7,18.9-41.8,49.8c-2.2,8.4-7.7,29.8,4.8,44.4c15,17.5,47.2,15,59.8,3.9
	c1-0.9,16.9-14.5,13.5-31.8c-3-15.1-18.9-23.7-29.9-26c-33.6-7-77.1,33.7-72.3,59.8c5.1,28.3,66,38.8,105.1,35.7
	c40.9-3.2,84.5-23.4,85.3-43.7c0.4-10.8-11.4-20.2-6.9-33.9c2-6.1,6.3-10.2,9.9-12.9"/>
</svg>
