<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="light" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 50 50;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#494949;}
	.st1{fill:none;stroke:#494949;stroke-width:15;stroke-linecap:round;stroke-miterlimit:10;}
</style>
<path class="st0" d="M204.4,304.4c-17.9,0-36.3-6.8-50.3-20.2c-14.6-14-18.2-31.8-21.9-50.5c-4.2-20.9-8.5-42.5-29.1-62.3
	c-2.4-2.3-3.2-5.8-2.1-8.9c1.1-3.2,3.9-5.4,7.2-5.7l2.3-0.2c42.4-4.3,95.1-9.5,136.5,30.3c13.1,12.6,21,31.9,21.2,51.6
	c0.2,18.8-6.4,35.8-18.6,48C237.6,298.5,221.2,304.4,204.4,304.4z M126.5,172.2c14.7,19.6,18.8,39.9,22.4,58.2
	c3.3,16.7,6.2,31.2,17,41.6c18.3,17.5,51.4,22.7,71.6,2.5c8.9-8.9,13.7-21.6,13.6-35.8c-0.2-15.3-6.1-30-16-39.5
	C203.5,168.8,163.6,168.9,126.5,172.2L126.5,172.2z"/>
<path class="st0" d="M356.6,273.1c-1.2,0-2.4,0-3.6-0.1c-13.8-0.8-25.9-6.3-33.9-15.5c-22.8-26.1-15.2-61.7,4.8-79.8
	c33.8-30.4,75.2-25,108.4-20.6l1.8,0.2c3.3,0.4,6,2.7,7,5.9c1,3.2,0,6.7-2.4,8.9c-16.1,14.5-19.9,30.8-23.6,46.6
	c-3.3,14.1-6.7,28.7-18.8,39.6C386,267.8,371.3,273.1,356.6,273.1z M392.6,170.8c-20.1,0-40.1,4.2-57.3,19.7
	c-14.1,12.6-19.3,37.6-3.4,55.8c5,5.7,12.8,9.1,22,9.7c11.4,0.6,23-3.2,30.9-10.2c8.2-7.4,10.6-17.7,13.7-30.8
	c3-12.8,6.5-28.1,17.2-42.7C408.1,171.4,400.3,170.8,392.6,170.8z M329.6,184.1h0.2H329.6z"/>
<path class="st0" d="M281.7,359.4c-4,0-7.6-2.9-8.4-7c-11.2-60.6-68.9-110.5-69.5-111c-3.6-3.1-4-8.4-0.9-12c3.1-3.6,8.4-4,12-1
	c2.6,2.2,62.8,54.2,75.2,120.9c0.9,4.6-2.2,9.1-6.8,9.9C282.8,359.4,282.3,359.4,281.7,359.4L281.7,359.4z"/>
<path class="st0" d="M109,477.9H57.9c-4.7,0-8.5-3.8-8.5-8.5V315.9c0-4.7,3.8-8.5,8.5-8.5c58,0,88.6,19.5,89.9,20.4
	c3.1,2,4.5,5.7,3.6,9.2l-34.1,134.5C116.3,475.3,112.9,477.9,109,477.9L109,477.9z M66.4,460.9h36l30.8-121.6
	c-9.6-4.6-32.2-13.4-66.8-14.7V460.9z"/>
<path class="st0" d="M271,512c-40.2,0-118.1-33.8-160.9-54c-4.3-2-6.1-7.1-4.1-11.3c2-4.3,7.1-6.1,11.4-4.1
	C150.8,458.3,232.7,495,271,495c41.5,0,139.2-48.7,167.4-63.2c-4.4-5.8-13.6-13.5-30.9-13.5c-15.7,0-35.7,6.3-55,12.4
	c-20.5,6.5-41.7,13.2-60.1,13.2c-35.2,0-81.9-16.8-83.9-17.6c-4.4-1.6-6.7-6.5-5.1-10.9c1.6-4.4,6.5-6.7,10.9-5.1
	c0.4,0.2,45.9,16.5,78.1,16.5c15.7,0,35.7-6.3,55-12.4c20.5-6.5,41.7-13.2,60.1-13.2c39.8,0,50.3,30.1,50.7,31.4
	c1.3,3.9-0.4,8.3-4.1,10.2C448.8,445.6,323.7,512,271,512L271,512z"/>
<path class="st0" d="M330.7,425.8c-4.7,0-8.5-3.8-8.5-8.5v-8.5c0-11.9-8-22.1-19.5-24.8L138,344.3c-4.6-1.1-7.4-5.7-6.3-10.3
	c1.1-4.6,5.8-7.3,10.3-6.3l164.6,39.7c19.2,4.5,32.6,21.5,32.6,41.4v8.5C339.2,422,335.4,425.8,330.7,425.8z"/>
<path class="st0" d="M281.8,359.4C281.7,359.4,281.7,359.4,281.8,359.4c-4.7,0-8.5-3.8-8.5-8.5c0-3,1.1-72.4,78.6-119.1
	c4-2.4,9.3-1.1,11.7,2.9c2.4,4,1.1,9.3-2.9,11.7c-69,41.6-70.4,102-70.4,104.6C290.3,355.6,286.4,359.4,281.8,359.4L281.8,359.4z"/>
<path class="st1" d="M281.9,329.4c-20.1-63.6-22.1-123.2,8.4-175.7"/>
<path class="st0" d="M225.5,78.4c2,48.3,56.8,93,110.1,92.4c59.4-0.7,102.6-57.4,98.2-64.4c-4.8-7.6-69.8,36.2-86.8,18.3
	c-17.4-18.2,31.4-83.8,18.3-94.5c-14.1-11.5-78.8,58.1-98.4,44.4C251.1,63.3,278.7,7,270.1,2.9C262.5-0.7,223.8,36.3,225.5,78.4z"/>
</svg>
