<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="50" height="50" >
<style type="text/css">
	.st0{fill:#9B9B9B;}
	.st1{fill:#3A556A;}
	.st2{fill:#FFFFFF;}
	.st3{fill:#494949;}
</style>
<g>
	<g>
		<path class="st0" d="M161.1,91.2H65.9l-47.6,82.4L65.9,256h95.2l47.6-82.4L161.1,91.2z"/>
		<path class="st0" d="M161.1,256H65.9l-47.6,82.4l47.6,82.4h95.2l47.6-82.4L161.1,256z"/>
		<path class="st0" d="M303.2,173.6H208L160.4,256l47.6,82.4h95.2l47.6-82.4L303.2,173.6z"/>
		<path class="st1" d="M308.3,347.4H202.8L150,256l52.8-91.4h105.5l52.8,91.4L308.3,347.4z M213.2,329.4h84.6l42.7-73.4l-42.7-73.4
			h-84.6L170.8,256L213.2,329.4z"/>
		<g>
			<path class="st0" d="M445.8,91.2h-95.2L303,173.6l47.6,82.4h95.2l47.6-82.4L445.8,91.2z"/>
			<path class="st0" d="M445.8,256h-95.2L303,338.4l47.6,82.4h95.2l47.6-82.4L445.8,256z"/>
			<path class="st0" d="M303.2,338.4H208l-47.6,82.4l47.6,82.4h95.2l47.6-82.4L303.2,338.4z"/>
			<path class="st0" d="M303.2,8.7H208l-47.6,82.4l47.6,82.4h95.2l47.6-82.4L303.2,8.7z"/>
			<path class="st0" d="M303.2,8.7v-3h-96.9L157,91.2l49.3,85.4h98.6l49.3-85.4L304.9,5.7h-1.7L303.2,8.7l-2.6,1.5l46.7,80.9
				l-45.8,79.4h-91.7l-45.9-79.4l45.9-79.4h93.4L303.2,8.7l-2.6,1.5L303.2,8.7z"/>
		</g>
		<g>
			<path class="st2" d="M171.5,120.8H76.3l-44.1,76.4c15.5,8.7,17,33.8,28.7,47.1c9.8,11.1,28.8,10.2,39.3,16.9c6,0.3,12,0.3,18,0
				c11.6-0.8,23-3.2,34.5-4.8c16.9-24.4,29.5-52.1,47.9-75.4c0.9-1.1,2.1-2.1,3.3-2.9L171.5,120.8z"/>
			<path class="st2" d="M131.3,422.5c6.1-1.3,12.3-1.8,18.6-1.5c2.4,0.5,4.7,1.3,6.8,2.5c2.1-4.7,3.5-9.8,5.6-14
				c6.9-11.8,14.6-23,23-33.8c6.9-10,12-21.6,21.4-28.8l-35.2-60.9H76.3l-47.9,82.4l32.4,55.2C84.3,424.5,107.8,424.2,131.3,422.5
				L131.3,422.5z"/>
			<path class="st2" d="M215.1,342c18.3-6.6,44.5-6.4,63.7-5.1c11,0.7,20.5,4.9,29.1-2.6c6.5-5.6,10.1-18,14-25.6
				c6.9-13.6,14-34,26.8-43.3h0.4l-35.9-61.7h-94.9l-47.6,82.4l35.4,61.4C208.9,345,211.9,343.2,215.1,342L215.1,342z"/>
			<path class="st2" d="M409.4,256.5c10.4-1.2,21.2,0.5,31.1-0.6c12-1.3,12-5.2,18.3-15.3c11.4-18,20.7-40.2,33.2-57.7l-35.9-62h-95
				l-47.9,82.4l35.9,61.8C364.4,254.2,391.8,258.6,409.4,256.5z"/>
			<path class="st2" d="M426.7,425.7c18.3,1,23.1-6.9,33.6-20.1c12.4-15.7,27.6-32,28.1-53c0-2.7,0.7-5.3,2-7.6l-34.2-59.1H361
				l-47.9,82.4l35.9,61.9C371.5,414.9,401.5,424.4,426.7,425.7L426.7,425.7z"/>
			<path class="st2" d="M229.7,509.1c18-0.7,41.3,2.8,58.7-1c28.3-6,34.8-55.4,56-74.3c1.5-1.4,3.2-2.7,5-3.8l-35.9-61.9h-95
				l-47.6,82.4l34.2,59.2C213.2,509.7,221.4,509.5,229.7,509.1z"/>
			<path class="st2" d="M313.6,38.4h-95.2l-47.6,82.4l37.9,52.7h97.9l40.8-76.7L313.6,38.4z"/>
		</g>
		<path class="st3" d="M503.7,173.6l-52.8-91.2h-95L308,0H202.8l-47.6,82.4H60.8L8,173.6L55.6,256L8,338.4l52.8,91.2h94.5l47.9,82.4
			h105.2l47.9-82.4h95l52.8-91.4l-47.9-82.4L503.7,173.6z M440.6,100.4l42.7,73.2L440.6,247h-84.8l-42.3-73.3l42.4-73.4L440.6,100.4
			L440.6,100.4z M340.2,256l-42.5,73.4H214L171.5,256l42.4-73.4h83.8L340.2,256z M213.2,17.7h84.6L340.1,91l-42.3,73.6H214l-42.8-74
			L213.2,17.7z M71.1,100.4h83.8l42.7,74l-41.9,72.8H71.1l-42.4-73.7L71.1,100.4z M154.9,412.1H71.1l-42.4-73.7L71.1,265H156
			l41.9,72.8L154.9,412.1z M297.7,494.3h-84.6l-41.9-72.8l42.7-74h83.8l42.5,73.6L297.7,494.3z M440.6,411.6h-84.6l-42.4-73.3
			l42.3-73.3h84.8l42.7,73.4L440.6,411.6z"/>
	</g>
</g>
</svg>
