{% style %}
.pollinator-pasture-icon {
  display: none;
  position: absolute;
  z-index: 1;
  left: 25px;
}
.pollinator-pasture-icon.fixed {
  position: fixed;
  top: 10px;
}
.pollinator-pasture-icon a {
  display: block;
}
.close-pp-icon {
  display: block;
  position: absolute;
  line-height: 1;
  font-size: 25px;
  left: 0;
  top: 10%;
  opacity: 0;
  padding: 10px;
  border-radius: 40px;
  background-color: #f0c44f;
  height: 40px;
  width: 40px;
  transition: all 0.25s ease-out;
}
.pollinator-pasture-icon:hover .close-pp-icon {
  opacity: 1;
}
.pollinator-pasture-icon.show {
  display: block;
}
@media only screen and (max-width: 768px) {
  .close-pp-icon {
    opacity: 1;
  }
}
{% endstyle %}
<div class="pollinator-pasture-icon show">
  <div class="pollinator-pasture-content">
    <a href="#" class="close-pp-icon">✕</a>
    <a href="/pages/pollinator-pastures">
      <img src="{{ 'pollinator-pasture-icon.png' | file_img_url: '200x' }}" alt="Pollinator Pastures">
    </a>
  </div>
</div>
<script>
  $('.close-pp-icon').on('click', function(e) {
    e.preventDefault();
    $('.pollinator-pasture-icon').removeClass('show');
    sessionStorage.setItem('ppIcon', 'showed');
  });
  $(window).on('scroll', function() {
    var scroll = $(window).scrollTop();
    if (scroll >= 140) {
      $('.pollinator-pasture-icon').addClass('fixed');
    } else {
      $('.pollinator-pasture-icon').removeClass('fixed');
    }
  });
  {% unless template contains 'product' %}
    if(sessionStorage.getItem('ppIcon')) {
      $('.pollinator-pasture-icon').removeClass('show');
    }
  {% endunless %}
</script>