{% if product.selling_plan_groups.size > 0 %}
	{% style %}
		div.rc_container {
			padding: 0;
		}
		.subscription-options div.rc_widget__option--active {
			background-color: #D4AF37;
		}
		.subscription-options div.rc_widget__option--active label.rc_widget__option__label {
			color: #fff;
		}
		.rc_widget__option__plans {
			display: none !important;
		}
		div.rc_widget__option--active .rc_widget__option__plans {
			display: block !important;
		}
	{% endstyle %}
	<div class="subscription-options">
		<div class="rc_container" data-widget-container>
			<div class="rc_widget" data-widget>
				<div class="rc_widget__option rc_widget__option--onetime rc_widget__option--active" data-option-onetime>
					<input type="radio" id="product_{{ product.id }}_group_{{ product.selling_plan_groups.id }}_onetime" name="selling_plan_{{ product.selling_plan_groups[0].id }}" value="onetime" checked class="rc_widget__option__input rc_widget__option__input--onetime" data-price="{{ current_variant.price }}" data-radio-onetime>
					<label for="product_{{ product.id }}_group_{{ product.selling_plan_groups.id }}_onetime" class="rc_widget__option__label" data-label-onetime>
						<span data-label-text-onetime>One-time purchase:</span>
						<span class="rc_widget__price rc_widget__price--onetime" aria-label="original price" data-price-onetime>{{ current_variant.price | money }}</span>
					</label>
				</div>
				{% for group in product.selling_plan_groups %}
					
					{% assign adj = group.selling_plans[0].price_adjustments[0] %}
					{% assign discount = '' %}
					{% assign new_value = '' %}
					{% if adj.value_type == 'percentage' %}
						{% assign perc_value = current_variant.price | times: adj.value %}
						{% assign org_value = current_variant.price | times: 100 %}
						{% assign discounted = org_value | minus: perc_value | divided_by: 100 %}
						{% assign discount = adj.value | append: '%' %}
						{% assign new_value = discounted %}
					{% elsif adj.value_type == 'fixed_amount' %}
						{% assign discount = adj.value | money | append: 'off' %}
					{% elsif adj.value_type == 'price' %}
						{% assign new_value = adj.value %}
					{% endif %}
		      <div class="rc_widget__option rc_widget__option--subsave" data-option-onetime>
						<input type="radio" id="product_{{ product.id }}_group_{{ product.selling_plan_groups.id }}_subsave" name="selling_plan_{{ group.id }}" value="subsave" class="rc_widget__option__input rc_widget__option__input--subsave" data-price="{{ new_value }}" data-radio-subsave>
						<label for="product_{{ product.id }}_group_{{ product.selling_plan_groups.id }}_subsave" class="rc_widget__option__label" data-label-subsave>
							<span data-label-text-subsave>Subscribe to save: {{ discount }}</span>
							<span class="rc_widget__price rc_widget__price--subsave" aria-label="original price" data-price-subsave>{{ new_value | money }}</span>
						</label>
						<div class="rc_widget__option__plans" data-plans-container>
							<select class="rc_widget__option__plans__dropdown {% if variant.id == product.selected_or_first_available_variant.id %}shown{% endif %}" id="selling_plan_dropdown_{{ variant.id }}" data-plans-dropdown name="selling_plan" disabled>
								{%- for plan in group.selling_plans -%}
									<option value="{{ plan.id }}">{{ plan.name }}</option>
								{%- endfor -%}
							</select>
						</div>
					</div>
			  {% endfor %}
			</div>
			<div class="rc_popup">
				<div class="rc_popup__hover">
					<svg class="rc_popup__icon" width="18" height="21" viewBox="0 0 356 418" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g id="black">
							<path id="Fill 17" fill-rule="evenodd" clip-rule="evenodd" d="M208.139 100.679C178.483 116.157 148.911 131.595 119.047 147.181C128.329 152.441 137.201 157.467 146.065 162.489C174.241 145.793 202.247 129.197 230.541 112.429C222.927 108.435 215.611 104.597 208.139 100.679ZM296.785 147.109C283.563 140.185 270.605 133.399 257.683 126.633C229.173 143.531 200.789 160.351 172.175 177.309C184.385 184.231 196.243 190.953 208.055 197.647C237.691 180.767 267.139 163.995 296.785 147.109ZM199.859 211.585C187.995 204.861 176.163 198.155 163.963 191.239V227.969C155.117 222.959 146.567 218.113 137.989 213.255V176.505C128.823 171.305 119.683 166.123 110.513 160.921V267.259C140.371 284.039 170.015 300.697 199.859 317.467V211.585ZM305.683 266.883V160.647C275.571 177.795 245.815 194.741 216.209 211.603V318.173C246.269 300.941 276.093 283.845 305.683 266.883ZM94.345 141.839C132.143 122.111 170.093 102.305 208.147 82.4433C245.963 102.249 283.771 122.049 321.819 141.975V276.261C284.405 297.711 246.667 319.345 208.819 341.043C170.725 319.635 132.641 298.233 94.345 276.713V141.839Z" fill="black" style="fill: black;"></path>
							<path id="Fill 19" fill-rule="evenodd" clip-rule="evenodd" d="M320.976 35.1783C317.376 26.5083 313.918 18.1863 310.364 9.62626C315.912 7.31226 321.392 5.02626 327.114 2.64026C336.144 24.3503 345.114 45.9143 354.154 67.6443C331.33 69.5583 308.78 71.4503 285.934 73.3663C285.438 67.3863 284.946 61.4703 284.434 55.2903C294.314 54.4503 303.99 53.6303 313.664 52.8083C289.23 35.8543 262.294 25.3283 232.896 21.7323C179.362 15.1843 130.966 28.2523 88.89 62.1463C5.96599 128.946 -4.66001 248.868 61.006 329.478C129.006 412.956 257.026 424.866 339.242 346.33C343.386 350.64 347.53 354.952 351.676 359.264C284.342 425.486 170.696 440.052 84.742 376.82C-2.73201 312.468 -26.02 191.732 31.602 99.8823C62.276 50.9823 106.16 19.6043 162.564 7.01826C218.896 -5.55174 271.668 4.54026 320.976 35.1783Z" fill="black" style="fill: black;"></path>
						</g>
					</svg> <span class="rc_popup__label">Subscription details</span>
					<div class="rc_popup__block" style="background-color: rgb(96, 96, 96); color: rgb(255, 255, 255);">
						<div class="rc_popup__block__content">
							<div class="rc_popup__close" style="display:none">x</div>
							<div class="rc_popup__how_it_works">
								<strong>How subscriptions work</strong>
								<br>Products are automatically delivered on your schedule. No obligation, modify or cancel your subscription anytime.
							</div>
							<br>
							<a class="rc_popup__learn_more" href="http://rechargepayments.com/subscribe-with-recharge" target="_blank" rel="noopener noreferrer" style="color: rgb(212, 175, 55);">Learn more...</a> 
						</div>
						<div class="rc_popup__block__footer">
							<a href="http://rechargepayments.com/subscribe-with-recharge" target="_blank" rel="noopener noreferrer"> 
								<img src="//rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/widget/rc_widget__banner@2x.png" height="28" width="153" class="rc_popup__badge"> 
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(window).load(function() {
			$('.rc_widget__option').on('change', 'input', function() {
				$('.rc_widget__option').removeClass('rc_widget__option--active');
				$(this).parents('.rc_widget__option').addClass('rc_widget__option--active');
				let price = $(this).data('price');
				$('#ProductPrice').text(Shopify.formatMoney(price));
				if($(this).val() == 'onetime') {
					$('.rc_widget__option__plans__dropdown').prop('disabled', true).hide();
				} else {
					$('.rc_widget__option__plans__dropdown').prop('disabled', false);
				}
			})
		})
	</script>
{% endif %}