<style>
  .amazon-review{
    padding: 0 1em;
  }
  .review-date{
    font-size:14px;
  }
  .review-stars{
    color: #fb0;
  }
  div[class*="review-item"] {
    padding: 0 1em;
  }
</style>

<div data-section-id="{{ section.id }}" data-section-type="amazon-review-section">
  <div class="amazon-review" id="amazon-review">
    {% if section.settings.section_title != blank %}
    <div class="section-header">
      <h2 class="section-header__title h2 text-center">{{ section.settings.section_title }}</h2>
    </div>
    {% endif %}
    <div id="amazon-review-container">
      {% comment %}
      {% assign grid_item_size = section.settings.display_size %}
      {% assign grid_item_width = 'medium--one-whole large--one-whole' %}
      {% if grid_item_size == "3" %}
      {% assign grid_item_width = 'medium--one-third large--one-third' %}
      {% elsif grid_item_size == "2" %}
      {% assign grid_item_width = 'medium--one-half large--one-half' %}
      {% endif %}
      {% endcomment %}
    </div>
    <div class="amazon-link text-center">
      <a rel="nofollow" href="https://www.amazon.ca/product-reviews/{{ section.settings.asin }}/"><strong>Go to Amazon Reviews >></strong></a>
    </div>
  </div>
</div>

<script>
jQuery(function($) {
  var grid_item_size = {{ section.settings.display_size }};
  var asin = '{{ section.settings.asin }}';
  $('#amazon-review-container').slick({
    infinite: true,
//     centerMode: true,
    slidesToShow: grid_item_size,
    slidesToScroll: 1,
    adaptiveHeight: true,
    autoplay: true,
    autoplaySpeed: 4000,
    arrows: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
//           centerMode: true,
          arrows: false,
          adaptiveHeight: true
        }
      }
    ]
  });
  var params = {
    type: 'POST',
    url: 'https://srh-amazon-reviews.herokuapp.com/',
    data: {asin: asin},
    dataType: 'json',
    success: function(reviews) {
//       console.log(reviews);
      for(var i in reviews) {
        let id = reviews[i].review_id;
        let name = reviews[i].review_name;
        let stars = reviews[i].review_stars;
        let url = reviews[i].review_url;
        let title = reviews[i].review_title;
        let body = truncate(reviews[i].review_body.replace('\\n',''));
        let date = reviews[i].review_date;
        let star = parseInt(stars.replace(' out of 5 stars',''));
//         console.log(star);
        let star_htm = '';
        for(let s = 1; s <= star; s++){
          star_htm += '<span class="material-icons-round">star_rate</span>';
        }
        let $htm = '<div>'+
        '<div class="review-item-'+ id +' text-center">'+
          '<a rel="nofollow" href="'+ url +'" target="_blank">'+
            '<h5 style="text-transform: none;" class="review-name">'+ name +'</h5>'+
            '<div class="review-stars">'+
              star_htm +
            '</div>'+
            '<p class="review-date">'+ date +'</p>'+
            '<div class="review-content">'+
              '<h4 class="h4 review-title">'+ title +'</h4>'+
              '<p class="review-body">'+ body +'</p>'+
            '</div>'+
          '</a>'+
        '</div>'+
      '</div>';
        $('#amazon-review-container').slick( 'slickAdd', $htm );
      }
    },
    error: function(XMLHttpRequest, textStatus) {
      console.log(XMLHttpRequest, textStatus);
    }
  };
  jQuery.ajax(params);
  
  function truncate(input) {
    if (input.length > 200) {
      return input.substring(0, 200) + '...';
    }
    return input;
  };
});
</script>

{% schema %}
{
  "name": "Amazon Reviews",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Heading",
      "default": "Amazon Reviews"
    },
    {
      "type": "text",
      "id": "asin",
      "label": "Amazon Product ASIN",
      "default": "B07QW46ZW3"
    },
    {
      "type": "select",
      "id": "display_size",
      "label": "Display",
      "default": "3",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Amazon Reviews",
      "category": {
        "da": "Avanceret layout",
        "de": "Komplizierteres Layout",
        "en": "Advanced layout",
        "es": "Diseño avanzado",
        "fi": "Monimutkaisempi layout",
        "fr": "Mise en page avancée",
        "hi": "उन्नत लेआउट",
        "it": "Layout avanzato",
        "ja": "高度なレイアウト",
        "ko": "고급 레이아웃",
        "nb": "Avansert oppsett",
        "nl": "Geavanceerde opmaak",
        "pt-BR": "Layout avançado",
        "pt-PT": "Esquema avançado",
        "sv": "Avancerad layout",
        "th": "เลย์เอาท์ขั้นสูง",
        "zh-CN": "高级布局",
        "zh-TW": "進階版面配置"
      }
    }
  ]
}
{% endschema %}