<style>
  
  .text-icon{
    margin-bottom: 2em;
  }
  .text-icon p{
    margin-bottom: 5px;
  }
  .text-icon_icon{
    color: {{section.settings.icon_color}};
  }
  .text-icon_icon svg{
    fill: {{section.settings.icon_color}};
  }
</style>
<div data-section-id="{{ section.id }}" data-section-type="featured-content-section">
  <div class="rich-text wrapper">
    <div class="grid">
      <div class="grid__item text-center{% unless section.settings.home_page_full_width %} large--two-thirds medium--two-thirds push--large--one-sixth push--medium--one-sixth{% endunless %}">
        {% if section.settings.section_title != blank %}
          <div class="section-header">
            <h2 class="rich-text__heading--{{ section.settings.text_size }} section-header__title h1">{{ section.settings.section_title | escape }}</h2>
          </div>
        {% endif %}
        {% assign total_blocks = section.blocks.size %}
        {% if total_blocks > 0 %}
          <div class="rte rich-text__text--{{ section.settings.text_size }}">
            {% case total_blocks %}
              {% when 0 %}
              {% when 1 %}
                {% assign block_column_width = '' %}
              {% when 2 %}
                {% assign block_column_width = 'one-half small--one-whole' %}
              {% when 3 %}
                {% assign block_column_width = 'one-third small--one-whole' %}
              {% when 4 %}
                {% assign block_column_width = 'large--one-quarter medium--one-half' %}
            {% endcase %}
            <div class="grid-uniform">
              {% for block in section.blocks limit: total_blocks %}
              
                <div class="grid__item {{ block_column_width }}">
                  <div class="text-icon {{section.settings.text_align}}">
                    <div class="text-icon_icon">{{block.settings.icon}}</div>
                    <h5 class="text-icon_header">{{block.settings.header}}</h5>
                    <div class="text-icon_text">{{block.settings.text}}</div>
                  </div>
                </div>
              {% endfor %}
            </div>
            
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": {
    "en": "Text Icons"
  },
  "class": "index-section rich-text-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "home_page_full_width",
      "label": {
        "da": "Bred visning",
        "de": "Breites Display",
        "en": "Wide display",
        "es": "Pantalla ancha",
        "fi": "Laaja näyttö",
        "fr": "Écran large",
        "hi": "चौड़ा डिस्प्ले",
        "it": "Visualizzazione ampia",
        "ja": "ワイドディスプレイ",
        "ko": "너비 표시",
        "nb": "Bred visning",
        "nl": "Brede weergave",
        "pt-BR": "Exibição ampla",
        "pt-PT": "Exibição ampla",
        "sv": "Breddvisning",
        "th": "การแสดงผลแบบกว้าง",
        "zh-CN": "宽显示屏",
        "zh-TW": "寬螢幕"
      }
    },
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Fortæl om dit brand",
        "de": "Über Ihre Marke sprechen",
        "en": "Talk about your brand",
        "es": "Habla de tu marca",
        "fi": "Kerro brändistäsi",
        "fr": "Parlez de votre marque",
        "hi": "अपने ब्रांड के बारे में बात करें",
        "it": "Parla del tuo brand",
        "ja": "あなたのブランドについて語る",
        "ko": "브랜드에 대해 이야기하기",
        "nb": "Snakk om merkevaren din",
        "nl": "Vertel over je merk",
        "pt-BR": "Fale sobre a sua marca",
        "pt-PT": "Fale sobre a sua marca",
        "sv": "Prata om ditt varumärke",
        "th": "พูดถึงแบรนด์ของคุณ",
        "zh-CN": "介绍您的品牌",
        "zh-TW": "描述您的品牌"
      }
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "da": "Størrelse",
        "de": "Größe",
        "en": "Size",
        "es": "Tamaño",
        "fi": "Koko",
        "fr": "Taille",
        "hi": "आकार",
        "it": "Dimensione",
        "ja": "サイズ",
        "ko": "사이즈",
        "nb": "Størrelse",
        "nl": "Grootte",
        "pt-BR": "Tamanho",
        "pt-PT": "Tamanho",
        "sv": "Storlek",
        "th": "ขนาด",
        "zh-CN": "大小",
        "zh-TW": "尺寸"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fi": "Pieni",
            "fr": "Petit",
            "hi": "छोटा",
            "it": "Piccolo",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "medio",
            "fi": "Keskisuuri",
            "fr": "Moyen",
            "hi": "मध्यम",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "grande",
            "fi": "Suuri",
            "fr": "Grand",
            "hi": "बड़ा",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        }
      ]
    },
	{
	  "type": "color",
 	  "id": "icon_color",
 	  "label": "Icon Color"
	},
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Alignment",
      "default": "text-center",
      "options": [
        {
          "label": "Left",
          "value": "text-left"
        },
        {
          "label": "Center",
          "value": "text-center"
        },
        {
          "label": "Right",
          "value": "text-right"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "text",
      "name": {
        "en": "Text Icon"
      },
      "settings": [
        {
          "id": "header",
          "type": "text",
          "label": "Header",
          "default": "<p>Customer Support</p>"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Additional Text",
          "default": "<p>Purchasing honeys from us, you get 100% support.</p>"
        },
        {
          "id": "icon",
          "type": "html",
          "label": "Icon",
          "default": "<span class='material-icons-outlined md-48'>headset_mic</span>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Text Icons"
      },
      "category": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}
