<div data-section-id="{{ section.id }}" data-section-type="featured-content-section">
  <div class="rich-text wrapper">
    <div class="grid">
      <div class="grid__item text-center{% unless section.settings.page_full_width %} large--two-thirds medium--two-thirds push--large--one-sixth push--medium--one-sixth{% endunless %}">
        
        {% if section.settings.collection == blank or collections[section.settings.collection] == empty or collections[section.settings.collection].products_count == 0 %}
		{{collections[section.settings.collection].title}}
        {% endif %}
        {% assign collection = collections['get-started'] %}
        
        <div class="rte rich-text__text--{{ section.settings.text_size }}">
          <div class="get-started">
            <div class="nav-header">
              <ul class="gs-nav justify-content-center" id="GetStarted">
                {% assign count = 0 %}
                {%- for block in section.blocks -%}
                {% assign count = count | plus: 1 %}
                <li class="gs-nav__item">
                  <a href="#{{block.settings.nav_title | handleize }}" class="gs-nav__link">
                    <span class="step">{{count}}</span> {{block.settings.nav_title}}
                  </a>
                </li>
                {%- endfor -%}
              </ul>
            </div>
            <div class="nav-content">
              	<div class="gs-container">
                  <div class="pick_variant" id="variant">
                    {% if collection.products_count == 1 %}
                    <div class="grid product-single">
                      {%- for product in collection.products -%}
                      {% form 'product', product, data-productid: product.id %}
                      <div class="grid__item large--seven-twelfths medium--seven-twelfths text-center">
                        {% assign media = product.featured_image %}
                        <div class="product-single__media" style="">
                        {% assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_450x.' %}
                          <img class="mfp-image lazyload"
                            src="{{ media | img_url: '450x450' }}"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ media.aspect_ratio }}"
                            data-sizes="auto"
                            data-media-id="{{ media.id }}"
                            alt="{{ media.alt | escape }}">
                      	</div>
                      </div>
                      <div class="grid__item large--five-twelfths medium--five-twelfths text-center" style="position: relative;">
                        <div class="product_title"><h1 style="margin-bottom:0;margin-top:1em;">{{product.title}}</h1></div>
                        <div class="first-step step">
                          <div class="steps selection gs-variant-select">
                            <fieldset class="single-option-radio" id="product-option">
                            {%- for variant in product.variants -%}
                              <input type="radio" value="{{variant.id}}" data-index="option1" name="id" class="single-option-selector__radio" id="option-{{product.options[1]}}-{{variant.option1}}" data-productid="{{product.id}}"
                                     {% if forloop.first == true %}checked{% endif %}
                                     data-price="{{ variant.price }}"
                                     data-sku="{{ variant.sku }}"
                                     data-image="{{ variant.image.src | img_url: '1x1' | replace: '_1x1.', '_450x.' }}">
                              <label for="option-{{product.options[1]}}-{{variant.option1}}"><span class="price">{{variant.price | money}}</span></label> <!-- <span class="option1">{{variant.option1}}</span> |  -->

                            {%- endfor -%}
                            </fieldset>
                          </div>
                          <div class="steps quantity">
                            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector" data-price="{{variant.price}}" style="text-align: center;">
                          </div>
                          <div class="steps checkout">
                            <div class="total-price" style="margin-bottom:1em;">
                              <h5>Subtotal: <span></span></h5>
                            </div>
                            <div>
                              <p>
                                <a href="#product_details" class="view-details">
                                  <span style="vertical-align: top;" class="material-icons">info</span>View Details
                                </a>
                              </p>
                            </div>
                          </div>
                          <div class="gs_next">
                            <a class="btn btn--secondary-accent next">
                              <span class="btn__text">
                                Next Step
                              </span>
                            </a>
                          </div>
                        </div>
                        <div class="second-step step text-left" style="display:none;opacity:0">
                          <a class="back"><span class="material-icons">arrow_back</span></a>
                          
                          {% include 'bsub-widget' %}
                          <div class="text-left" style="font-size: 14px; padding: 10px;">Save 5% with Subscribe to Save and pause, change or cancel your subscription at anytime!</div>
                          {% comment %}
                          <label class="text-left">One-time Delivery: </label>
                          <fieldset class="once-option-radio text-left" id="once-option">
                            <label> <input type="radio" name="frequency" value="one-time" > <span>One-time</span></label>
                          </fieldset>
                          <label class="text-left">Deliver every: </label>
                          <fieldset class="frequency-option-radio text-left" id="frequency-option">
                            {% for m in (1..6) %}
                            <label> <input type="radio" name="frequency" value="{{m}}-month" > <span>{{m}} Month{% if m > 1%}s{% endif %}</span></label>
                            {% endfor %}
                          </fieldset>
<!--                           <div class="gs_next">
                            <button class="btn btn--secondary-accent next">
                              <span class="btn__text">
                                Next Step
                              </span>
                            </button>
                          </div> -->
                          <div class="divider--sm"></div>
                          <button type="submit" name="add" id="AddToCart" class="btn btn--add-to-cart addtocart">
                            <span class="btn__text">
                              {{ 'products.product.add_to_cart' | t }}
                            </span>
                          </button>
                          
                          {% endcomment %}
                          <div class="gs_checkout">
                            <button type="submit" name="add" id="gs-checkout" class="btn btn--add-to-cart btn--secondary-accent addtocart"
                                    style="background-color: #fff;
                                           border: 1px solid #f1c34f;
                                           color: #f1c34f;
                                           font-weight: 100;">
                              <span class="btn__text">
                                {{ 'products.product.add_to_cart' | t }}
                              </span>
                            </button>
                          </div>
                          {{ form | payment_button }}
                        </div>
                      </div>
                        <div style="clear:both;"></div>
                      {% endform %}
                      <div class="product-details" id="product_details">
                        <h4 class="hero__subtitle">Product Description</h4>
                        <hr class="hr--small">
                        <div class="description text-left">
                          {{product.description}}
                          <img alt="Sun River Honey Black Label" src="//cdn.shopify.com/s/files/1/0281/0960/2886/files/P5290185-final-for-web_1080x.jpg?v=1592595768" />
                        </div>
                      </div>
                      {%- endfor -%}
                    </div>
                    {% endif %}
                  </div>
                  {% comment %}
                  {{block.settings.content | replace: "[count]", count | replace: "[collect]", collection.title}}
                  {% endcomment %}
              	</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

{% schema %}
{
  "name": {
    "en": "Get Started"
  },
  "class": "index-section gs-text-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "page_full_width",
      "label": {
        "da": "Bred visning",
        "de": "Breites Display",
        "en": "Wide display",
        "es": "Pantalla ancha",
        "fi": "Laaja näyttö",
        "fr": "Écran large",
        "hi": "चौड़ा डिस्प्ले",
        "it": "Visualizzazione ampia",
        "ja": "ワイドディスプレイ",
        "ko": "너비 표시",
        "nb": "Bred visning",
        "nl": "Brede weergave",
        "pt-BR": "Exibição ampla",
        "pt-PT": "Exibição ampla",
        "sv": "Breddvisning",
        "th": "การแสดงผลแบบกว้าง",
        "zh-CN": "宽显示屏",
        "zh-TW": "寬螢幕"
      }
    },
    {
      "type": "collection",
      "id": "collection",
      "label": {
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "da": "Størrelse",
        "de": "Größe",
        "en": "Size",
        "es": "Tamaño",
        "fi": "Koko",
        "fr": "Taille",
        "hi": "आकार",
        "it": "Dimensione",
        "ja": "サイズ",
        "ko": "사이즈",
        "nb": "Størrelse",
        "nl": "Grootte",
        "pt-BR": "Tamanho",
        "pt-PT": "Tamanho",
        "sv": "Storlek",
        "th": "ขนาด",
        "zh-CN": "大小",
        "zh-TW": "尺寸"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fi": "Pieni",
            "fr": "Petit",
            "hi": "छोटा",
            "it": "Piccolo",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "medio",
            "fi": "Keskisuuri",
            "fr": "Moyen",
            "hi": "मध्यम",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "grande",
            "fi": "Suuri",
            "fr": "Grand",
            "hi": "बड़ा",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": {
        "da": "Slide",
        "de": "Folie",
        "en": "Slide",
        "es": "Diapositiva",
        "fi": "Dia",
        "fr": "Diapositive",
        "hi": "स्लाइड",
        "it": "Scorrimento",
        "ja": "スライド",
        "ko": "슬라이드",
        "nb": "Lysbilde",
        "nl": "Dia",
        "pt-BR": "Slide",
        "pt-PT": "Diapositivo",
        "sv": "Bild",
        "th": "สไลด์",
        "zh-CN": "幻灯片",
        "zh-TW": "投影片"
      },
	  "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "nav_title",
          "label": "Nav Link",
          "default": "Title"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Content"
        }
	  ]
  	}
  ],
  "presets": [
    {
      "name": "Get Started",
      "category": "Custom"
    }
  ]
}
{% endschema %}
