{% style %}
  .gs-header h1 {
    margin-top: 0;
  }
  body:not(.template-index) .main-content {
    padding-top: 30px;
  }
  h1.gs-header {
    margin-top: 0;
  }
  .frequency-container-group {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: 0 auto;
  }
  .quantity-choices,
  .frequency-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2em;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
  }
  .frequency-container label {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .frequency-container > label {
    margin-bottom: 1em;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .quantity-selector,
  .frequency-selector {
    flex: 1;
  }
  .quantity-selector label {
    padding: 1em;
    display: block;
    background: #f1efef;
    margin: 0.5em;
    height: 100%;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
  }
  .frequency-selector label {
    padding: 3em 1em;
    margin: 0.5em;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
    background: #f1efef;
    width: 200px;
    font-weight: bold;
    font-size: 16px;
  }
  .quantity-selector input[type="radio"],
  .frequency-selector input[type="radio"] {
    display: none;
  }
  .quantity-selector input[type="number"] {
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }
  .quantity-selector input:checked + label,
  .frequency-selector input:checked + label,
  .quantity-selector.checked label {
    background: rgb(212 175 55 / 48%);
    border: 1px solid rgb(212 175 55 / 48%);
  }
  .quantity-selector .top-quantity {
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
  }
  .quantity-selector .top-price {
    font-size: 24px;
  }
  .product-detail {
    margin-top: 4em;
  }
  .get-started input:focus {
    outline: none;
    border: 1px solid #D4AF37;
  }
  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .input-group .top-quantity {
    margin-left: 10px;
  }
  .review {
    width: 300px;
    margin: 0 auto 3em;
    padding: 3em;
    background: #f1efef;
    font-weight: bold;
    border: 1px solid rgb(212 175 55 / 48%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
  }
  .review h4 {
    margin-bottom: 0;
  }
  .total-price {
    font-size: 40px;
  }
  .product-subscription {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  .subscription-details {
    background-color: #eaeaea;
    padding: 1.5em;
  }
  .subscription-details p,
  .subscription-details h1,
  .subscription-details h2,
  .subscription-details h3,
  .subscription-details h4,
  .subscription-details h5{
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    .frequency-container-group {
      width: 100%;
    }
  }
  @media screen and (max-width: 425px) {
    .product-subscription {
      flex-direction: column;
    }
  }
{% endstyle %}
<div data-section-id="{{ section.id }}" data-section-type="featured-content-section">
  <div class="rich-text wrapper">
    <div class="grid">
      <div class="grid__item text-center{% unless section.settings.page_full_width %} large--two-thirds medium--two-thirds push--large--one-sixth push--medium--one-sixth{% endunless %}">
        
        {% if section.settings.product != blank %}
        {% assign product = all_products[section.settings.product] %}
          <div class="rte rich-text__text--{{ section.settings.text_size }}">
            <div class="get-started">
              <div class="gs-content">
              	<div class="gs-container">
                  <section class="gs_section" id="pick_variant" data-section="1">
                    {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}
                    {% form 'product', product, data-productid: product.id, id:form_id %}
                    {% endform %}
                    {% if section.settings.header != blank %}<h1 class="gs-header">{{ section.settings.header }}</h1>{% endif %}
                    <div class="grid product-single">
                      <div class="grid__item large--eight-twelfths medium--eight-twelfths text-center">
                        {% assign media = product.featured_image %}
                        <div class="product-single__media" style="">
                          {% assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_450x.' %}
                          <img class="mfp-image lazyload"
                            src="{{ media | img_url: '450x450' }}"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ media.aspect_ratio }}"
                            data-sizes="auto"
                            data-media-id="{{ media.id }}"
                            alt="{{ media.alt | escape }}">
                        </div>
                      </div>
                      <div class="grid__item large--four-twelfths medium--four-twelfths">
                        <div class="product_title"><h1 style="margin-bottom:0;margin-top:1em;">{{product.title}}</h1></div>
                        <fieldset class="single-option-radio" id="product-option">
                          {%- for variant in product.variants -%}
                            {% if product.selling_plan_groups.size > 0 %}
                              {%- capture 'allocations' -%}
                                {
                                {%- for allocs in variant.selling_plan_allocations -%}
                                  "{{- allocs.selling_plan.id -}}":{{- allocs.per_delivery_price -}}
                                  {%- unless forloop.last -%}, {%- endunless -%}
                                {%- endfor -%}
                                }
                              {%- endcapture -%}
                            {% endif %}
                            <input type="radio" value="{{variant.id}}" data-index="option1" name="id" class="single-option-selector__radio" id="option-{% if variant.title contains 'Default' %}{{ product.title | handleize }}{% else %}{{ variant.title | handleize }}{% endif %}"
                                   {% if forloop.first == true %}checked{% endif %}
                                   data-title="{% if variant.title contains 'Default' %}{{ product.title }}{% else %}{{ variant.title }}{% endif %}"
                                   data-handle="{{ product.handle }}"
                                   data-price="{{ variant.price }}"
                                   data-sku="{{ variant.sku }}"
                                   data-allocation='{{ allocations }}'
                                   data-image="{{ variant.image.src | img_url: '1x1' | replace: '_1x1.', '_450x.' }}">
                            <label for="option-{% if variant.title contains 'Default' %}{{ product.title | handleize }}{% else %}{{ variant.title | handleize }}{% endif %}"><span class="price">{{variant.price | money}}</span></label>
                            
                          {%- endfor -%}
                        </fieldset>
                        <div class="product-short-description text-left" style="margin-top: 2em;">
                          <div><strong>Sun River Honey Black Label is:</strong></div>
                          <ul>
                            <li>Natural</li>
                            <li>Soft creamed</li>
                            <li>Unpasteurized, always soft and spreadable</li>
                          </ul>
                        </div>
                        <div>
                          {% if product.available %}
                            <a class="btn btn--secondary-accent next">
                              <span class="btn__text">
                                Next Step
                              </span>
                            </a>
                          {% else %}
                            <button class="btn btn--secondary-accent" disabled>
                              <span class="btn__text">
                                Out of Stock
                              </span>
                            </button>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="quantitySelector gs_section" id="select_quantity" data-section="2" style="display: none;">
                    <h1 class="gs-header">Jars per delivery</h1>
                    <p class="text-center" style="font-size: 16px; padding: 10px;">Free Shipping • Ships Monthly • Cancel anytime</p>
                    <div class="quantity-choices">
                      <label class="quantity-selector" for="choice1">
                        <input type="radio" name="quantity" value="1" id="choice1" checked>
                        <label for="choice1">
                          <div class="top-quantity">1 Jar</div>
                          <div class="top-price">{{ product.price | money }}</div>
                          <div class="quantitySelector-single__media" style="">
                            {% assign media = 'srh-1-jar.png' %}
                            {% assign img_url = media | file_img_url: '1x1' | replace: '_1x1.', '_250x.' %}
                            <img class="mfp-image lazyload"
                              src="{{ media | file_img_url: '250x250' }}"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ media.aspect_ratio }}"
                              data-sizes="auto"
                              data-media-id="{{ media.id }}"
                              alt="{{ media.alt | escape }}">
                          </div>
                        </label>
                      </label>
                      <label class="quantity-selector" for="choice2">
                        <input type="radio" name="quantity" value="5" id="choice2">
                        <label for="choice2">
                          <div class="top-quantity">5 Jars</div>
                          <div class="top-price">{{ product.price | times: 5 | money }}</div>
                          <div class="quantitySelector-single__media" style="">
                            {% assign media = 'srh-5-jar.png' %}
                            {% assign img_url = media | file_img_url: '1x1' | replace: '_1x1.', '_250x.' %}
                            <img class="mfp-image lazyload"
                              src="{{ media | img_url: '250x250' }}"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ media.aspect_ratio }}"
                              data-sizes="auto"
                              data-media-id="{{ media.id }}"
                              alt="{{ media.alt | escape }}">
                          </div>
                        </label>
                      </label>
                      <label class="quantity-selector" for="choice3">
                        <input type="radio" name="quantity" value="10" id="choice3">
                        <label for="choice3">
                          <div class="top-quantity">10 Jars</div>
                          <div class="top-price">{{ product.price | times: 10 | money }}</div>
                          <div class="quantitySelector-single__media" style="">
                            {% assign media = 'srh-10-jar.png' %}
                            {% assign img_url = media | file_img_url: '1x1' | replace: '_1x1.', '_250x.' %}
                            <img class="mfp-image lazyload"
                              src="{{ media | img_url: '250x250' }}"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ media.aspect_ratio }}"
                              data-sizes="auto"
                              data-media-id="{{ media.id }}"
                              alt="{{ media.alt | escape }}">
                          </div>
                        </label>
                      </label>
                      <label class="quantity-selector" for="choice4">
                        <label for="choice4">
                          <div class="input-group">
                            <input type="number" name="quantity" value="1" min="1" id="choice4" style="width: 100%;">
                            <div class="top-quantity">Jars</div>
                          </div>
                          <div class="top-price dynamic-price">{{ product.price | money }}</div>
                          <div class="quantitySelector-single__media" style="">
                            {% assign media = 'srh-10-jar.png' %}
                            {% assign img_url = media | file_img_url: '1x1' | replace: '_1x1.', '_250x.' %}
                            <img class="mfp-image lazyload"
                              src="{{ media | img_url: '250x250' }}"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ media.aspect_ratio }}"
                              data-sizes="auto"
                              data-media-id="{{ media.id }}"
                              alt="{{ media.alt | escape }}">
                          </div>
                        </label>
                      </label>
                    </div>
                    <div>
                      <a class="btn btn--secondary-accent next">
                        <span class="btn__text">
                          Next Step
                        </span>
                      </a>
                    </div>
                  </section class="gs_section">
                  <section class="gs_section" id="shipping_frequency" data-section="3" style="display: none;">
                    <h1 class="gs-header">Choose Shipping Frequency</h1>

                    <div class="grid product-subscription">
                      <div class="grid__item large--seven-twelfths medium--seven-twelfths text-center">
                        <div class="subscription-details-content">
                          <div class="subscription-details">
                            {% comment %}
                            {% assign logo = 'srh_emboss_logo.png' | file_img_url: '250x250' %}
                            <img class="image lazyload"
                              src="{{ logo | img_url: '250x250' }}"
                              data-src="{{ logo }}"
                              data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ logo.aspect_ratio }}"
                              data-sizes="auto"
                              data-media-id="{{ logo.id }}"
                              alt="{{ logo.alt | escape }}">
                            {% endcomment %}
                            <div class="subscription-text">
                              <h5>Quantity: <span class="item-qty">1</span></h5>
                              <h5 class="subscribe">Subscribe to Save</h5>
                              <h1><strong class="review-subscription">One-time Delivery</strong></h1>
                              <p>Total:</p>
                              <h2 class="total-price">$16.99</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="grid__item large--five-twelfths medium--five-twelfths">
                        {% include 'subscription-widget', current_variant: product. %}
                      </div>
                    </div>

                    {% comment %}
                    <div class="frequency-container-group">
                      <div class="frequency-container">
                        <label class="frequency-selector" id="one-time-purchase" for="one-time">
                          <input type="radio" name="purchase-type" id="one-time" value="one-time" checked>
                          <label for="one-time">
                            One-time Purchase
                          </label>
                        </label>
                        <label class="frequency-selector" id="frequent-purchase" for="frequent-time">
                          <input type="radio" name="purchase-type" id="frequent-time" value="frequent">
                          <label for="frequent-time">
                            I want to Subscribe! <br >(5% OFF)
                          </label>
                        </label>
                      </div>
                      <div class="frequency-container subscriptions" style="display: none;">
                        {% if product.selling_plan_groups.size > 0 %}
                          {% for group in product.selling_plan_groups %}
                            {% for plan in group.selling_plans %}
                              <label class="frequency-selector" id="1-month" for="plan-{{ plan.id }}">
                                <input type="radio" name="frequency" id="plan-{{ plan.id }}" data-plan-name="{{ plan.name }}" value="{{ plan.id }}">
                                <label for="plan-{{ plan.id }}">
                                  <span class="plan-name">{{- plan.name -}}</span>
                                </label>
                              </label>
                            {% endfor %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    {% endcomment %}
                    <div>
                      <a class="btn btn--secondary-accent next">
                        <span class="btn__text">
                          Next Step
                        </span>
                      </a>
                    </div>
                  </section>
                  <section class="gs_section" id="goto_checkout" data-section="4" style="display: none;">
                    <h1 class="gs-header">Review your Order</h1>
                    <div class="review">
                      <h4 class="product-title">500g Black Label x 22</h4>
                      <p class="total-price">$16.99</p>
                      <hr class="hr--small" />
                      <div class="review-subscription">Delivery every 6 Months</div>
                      <p class="cancels" style="font-weight: 400; font-size: 14px;">Cancel anytime</p>
                      <hr class="hr--small" />
                      <a id="add-to-cart-button" class="btn btn--secondary-accent gs-checkout">
                        <span class="btn__text">
                          Checkout
                        </span>
                      </a>
                    </div>
                  </section>
                  <div class="product-detail">
                    <hr class="hr--small">
                    <div class="description text-left">
                      {{product.description}}
                      <img alt="Sun River Honey Black Label" src="//cdn.shopify.com/s/files/1/0281/0960/2886/files/P5290185-final-for-web_1080x.jpg?v=1592595768" />
                    </div>
                  </div>
              	</div>
              </div>
            </div>
          </div>

        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  const $defaultVariant = $('#product-option input[name="id"]:checked');
  var cart = {
    allocations: $defaultVariant.data('allocation'),
    title: $defaultVariant.data('title'),
    varid: $defaultVariant.val(),
    price: $defaultVariant.data('price'),
    quantity: $('.quantity-selector input:checked').length ? $('.quantity-selector input:checked').val() : $('.quantity-selector.checked input').val(),
    total: null,
    selling_plan: null,
    subscription: "One-time Delivery"
  }
  $('#GetStarted').on('click', 'a', function(e) {
    e.preventDefault();
    let section_id = $(this).attr('href');
    $('.gs-container section').hide();
    $(section_id).show();
    changeSection($(section_id).data('section'));
  });
  $('.next').on('click', function(e) {
    e.preventDefault();
    const $parentSection = $(this).parents('.gs_section');
    let section = $parentSection.data('section');
    $parentSection.hide();
    let new_section = section+1;
    $('section[data-section="'+(new_section)+'"]').show();
    changeSection(new_section);
  });
  function changeSection(section) {
    let $frequency_checked = $('.rc_widget__option input:checked');
    cart.total = cart.quantity * ($frequency_checked.val() == "onetime" ? cart.price : cart.allocations[$('.rc_widget__option__plans select option:selected').val()]);
    if(section == 2) {
      if($('.quantity-selector input[type="radio"]:checked').length > 0){
        cart.quantity = $('.quantity-selector input[type="radio"]:checked').val();
      } else {
        cart.quantity = $('.quantity-selector input[type="number"]').val();
        $('.quantity-selector input[type="number"]').focus();
      }
    } else if(section == 3) {
      update();
    } else if(section == 4) {
      $('.product-title').text(cart.title + " x " + cart.quantity);
      $('.total-price').text(Shopify.formatMoney(cart.total));
      $('.review-subscription').text(cart.subscription);
      cart.selling_plan == null ? $('.cancels').hide() : $('.cancels').show();
    }
  }
  $('#add-to-cart-button').click(function(){
    let varid = cart.varid;
    let qty = cart.quantity;
    let selling_plan = cart.selling_plan;
    addItemToCart(varid, qty, selling_plan);
  });
  $('#product-option input[name="id"]').on('change', function(){
    cart.allocations = $(this).data('allocation');
    cart.title = $(this).data('title');
    cart.varid = $(this).val();
  });
  $('.quantity-selector').on('focus', 'input[type="number"]', function(e) {
    $('.quantity-selector input[type="radio"]').prop("checked", false);
    $(this).parents('.quantity-selector').addClass('checked');
    cart.quantity = $(this).val();
  });
  $('.quantity-selector').on('change', 'input', function(e) {
    let quantity = $(this).val();
    let price = cart.price;
    let total = 0;
    cart.quantity = quantity;
    if ($(this).attr('type') == 'radio') {
      $('.quantity-selector').removeClass('checked');
      total = $(this).val() * price;
    } else {
      total = quantity * price;
      $('.dynamic-price').text(Shopify.formatMoney(total));
    }
    cart.total = total;
  });
  $('.frequency-container').on('change', 'input[name="purchase-type"]', function(e) {
    if ($(this).val() == 'frequent') {
      $('.subscriptions').slideDown();
      if ($('.subscriptions .frequency-selector input[name="frequency"]:checked').length < 1) {
        $('.subscriptions .frequency-selector:first-child input[name="frequency"]').prop("checked", true).change();
      }
    } else {
      $('.subscriptions .frequency-selector input[name="frequency"]:checked').prop("checked", false);
      $('.subscriptions').slideUp();
      cart.selling_plan = null;

      cart.subscription = "One-time Delivery";
      cart.total = cart.quantity * cart.price;
    }
  });
  $('.subscriptions .frequency-selector').on('change', 'input[name="frequency"]', function(e) {
    let subs = $(this).data('plan-name');
    let plan_id = $(this).val();
    let subs_price = cart.allocations[plan_id];
    cart.subscription = subs;
    cart.selling_plan = plan_id;
    cart.total = cart.quantity * subs_price;
  });

  $('.rc_widget').on('change', 'input[type="radio"]', function(e) {
    if ($(this).val() == 'onetime') {
      cart.selling_plan = null;
      cart.subscription = "One-time Delivery";
      cart.total = cart.quantity * cart.price;
    } else {
      $selected = $(".rc_widget__option__plans select option:selected");
      cart.subscription = $selected.text();
      cart.selling_plan = $selected.val();
      cart.total = cart.quantity * cart.allocations[$selected.val()];
    }
    console.log(cart);
    update();
  });
  $('.rc_widget__option__plans').on('change', 'select', function(e) {
    let subs = $(this).find("option:selected").text();
    let plan_id = $(this).val();
    let subs_price = cart.allocations[plan_id];
    cart.subscription = subs;
    cart.selling_plan = plan_id;
    cart.total = cart.quantity * subs_price;
    update();
    console.log(cart);
  });
  function update() {
    $('.item-qty').text(cart.quantity);
    $('.total-price').text(Shopify.formatMoney(cart.total));
    $('.review-subscription').text(cart.subscription);
    cart.selling_plan == null ? $('.subscribe').hide() : $('.subscribe').show();
  } 
</script>
<script>
  function addItemToCart(variant_id, qty, selling_plan) {
    data = {
      "id": variant_id,
      "quantity": qty,
      "selling_plan": selling_plan
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() { 
        window.location.href = '/cart'; 
      }
    });
  }
</script>
{% schema %}
{
  "name": {
    "en": "Get Started"
  },
  "class": "index-section gs-text-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "page_full_width",
      "label": {
        "da": "Bred visning",
        "de": "Breites Display",
        "en": "Wide display",
        "es": "Pantalla ancha",
        "fi": "Laaja näyttö",
        "fr": "Écran large",
        "hi": "चौड़ा डिस्प्ले",
        "it": "Visualizzazione ampia",
        "ja": "ワイドディスプレイ",
        "ko": "너비 표시",
        "nb": "Bred visning",
        "nl": "Brede weergave",
        "pt-BR": "Exibição ampla",
        "pt-PT": "Exibição ampla",
        "sv": "Breddvisning",
        "th": "การแสดงผลแบบกว้าง",
        "zh-CN": "宽显示屏",
        "zh-TW": "寬螢幕"
      },
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "richtext",
      "id": "header",
      "label": "Header"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "da": "Størrelse",
        "de": "Größe",
        "en": "Size",
        "es": "Tamaño",
        "fi": "Koko",
        "fr": "Taille",
        "hi": "आकार",
        "it": "Dimensione",
        "ja": "サイズ",
        "ko": "사이즈",
        "nb": "Størrelse",
        "nl": "Grootte",
        "pt-BR": "Tamanho",
        "pt-PT": "Tamanho",
        "sv": "Storlek",
        "th": "ขนาด",
        "zh-CN": "大小",
        "zh-TW": "尺寸"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fi": "Pieni",
            "fr": "Petit",
            "hi": "छोटा",
            "it": "Piccolo",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "medio",
            "fi": "Keskisuuri",
            "fr": "Moyen",
            "hi": "मध्यम",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "grande",
            "fi": "Suuri",
            "fr": "Grand",
            "hi": "बड़ा",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Get Started",
      "category": "Custom"
    }
  ]
}
{% endschema %}
