{% style %}
.spr-header,
.ReviewProduct--header {
  text-align: center;
}
.spr-form-title,
.spr-header-title {
  display: none;
}
#shopify-product-reviews .spr-summary-actions-newreview {
  background-color: {{ settings.color_primary }};
  padding: 12px 20px;
  margin: 0;
  width: auto;
  line-height: 1.42;
  color: #fff;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -ms-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;

  font-family: Montserrat,sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 0;
  width: 100%;
  min-height: 44px;
  font-size: 0.8125em;

  float: none;
  display: inline-block;
  width: auto;
}
#shopify-product-reviews .spr-summary-actions-newreview:hover {
  -webkit-transition: background-color 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out;
  -ms-transition: background-color 0.15s ease-out;
  -o-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
  background-color: #dfc369;
  color: {{ settings.color_button_text }};
}
#shopify-product-reviews .spr-summary-caption {
  margin-bottom: 2em;
}
.spr-content {
  max-width: 800px;
  margin: 0 auto;
}
.spr-form-message {
  text-align: center;
  outline: none;
}
.spr-icon {
  color: #fb0;
}
.spr-container {
  padding: 1em!important;
}
.spr-review {
  outline: none;
  text-align: center;
}
.spr-review-reportreview {
  float: none;
}
@media only screen and (max-width: 800px) {
  .spr-content {
    width: 95%;
  }
}
{% endstyle %}
<div class="ReviewProduct">
  <div class="ReviewProduct--header">
    <h2>{{ section.settings.header }}</h2>
  </div>
  <div id="shopify-review-container">
    
  </div>
  {%- assign product = all_products[section.settings.product] -%}
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
</div>
<script>
  jQuery(function($) {
    $(window).load(function(){
      setTimeout(function(){
        $('.spr-summary-actions').empty().append('<a class="spr-summary-actions-newreview" href="https://search.google.com/local/writereview?placeid=ChIJi6soE8cABVMRsfyz1PVnNjs" target="_blank" rel="nofollow">Write a Google review</a>');
        $('.spr-reviews').slick({
          infinite: true,
          // centerMode: true,
          slidesToShow: 1, // {{ section.settings.display_size }}
          slidesToScroll: 1,
          adaptiveHeight: false,
          autoplay: true,
          autoplaySpeed: 4000,
          arrows: false,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true,
                // centerMode: true,
                arrows: false
              }
            }
          ]
        });
      }, 2000);
    });
  });
</script>

{% schema %}
{
  "name": "Review Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": {
        "da": "Produkt",
        "de": "Produkt",
        "en": "Product",
        "es": "Producto",
        "fi": "Tuote",
        "fr": "Produit",
        "hi": "उत्पाद",
        "it": "Prodotto",
        "ja": "商品",
        "ko": "제품",
        "nb": "Produkt",
        "nl": "Product",
        "pt-BR": "Produto",
        "pt-PT": "Produto",
        "sv": "Produkt",
        "th": "สินค้า",
        "zh-CN": "产品",
        "zh-TW": "產品"
      }
    },
    {
      "type": "checkbox",
      "id": "show_header",
      "label": "Show Header",
      "default": true
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    },
    {
      "type": "select",
      "id": "display_size",
      "label": "Display",
      "default": "3",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review Products",
      "category": {
        "da": "Produkt",
        "de": "Produkt",
        "en": "Product",
        "es": "Producto",
        "fi": "Tuote",
        "fr": "Produit",
        "hi": "उत्पाद",
        "it": "Prodotto",
        "ja": "商品",
        "ko": "제품",
        "nb": "Produkt",
        "nl": "Product",
        "pt-BR": "Produto",
        "pt-PT": "Produto",
        "sv": "Produkt",
        "th": "สินค้า",
        "zh-CN": "产品",
        "zh-TW": "產品"
      }
    }
  ]
}
{% endschema %}
